<%= form_with(model: @article, local: true, data: { turbo: false }) do |f| %>

    <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
    </p>

    <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
    </p>

    <p>
    <%= f.submit %>
    </p>

  <% end %>
