<h1 class="text-center mt-4">Listing all articles</h1>
<div class="container">
  <% @articles.each do |article| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-5">
        <div class="card text-center shadow mb-4 bg-white rounded">
          <div class="card-header fst-italic">
            by Priya Sherke
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
            <p class="card-text"><%= truncate(article.description, length: 100) %></p>
            <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
            <%= link_to "Delete",
            article_path(article),
            class: "btn btn-outline-danger",
            method: :delete,
            form: {
              data: {
                turbo_confirm: "Are you sure?"
              }
            } %>
          </div>
          <div class="card-footer text-muted">
            <small>Created
              <%= time_ago_in_words(article.created_at) %>
              ago, edited
              <%= time_ago_in_words(article.updated_at) %>
              ago
            </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <p>
    <%= link_to "Create new article", new_article_path %>
  </p>
</div>
