<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <%= link_to "THE BLOGGING OASIS" , root_path, class: "navbar-brand text-white" , id: "logo" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Bloggers" , users_path, class: "nav-link" , style:"color: white" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
              style="color: white">
              Articles
            </a>
            <ul class="dropdown-menu">
              <% if logged_in? %>
                <%= link_to "Create new article" , new_article_path, class: "dropdown-item" %>
                  <% end %>
                    <%= link_to "View articles" , articles_path, class: "dropdown-item" %>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
              style="color: white">
              Categories
            </a>
            <ul class="dropdown-menu">
              <% if logged_in? && current_user.admin? %>
                <%= link_to "Create new category" , new_category_path, class: "dropdown-item" %>
                  <% end %>
                    <%= link_to "View categories" , categories_path, class: "dropdown-item" %>
            </ul>
          </li>

          <% if logged_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                style="color: white">
                <%= "(Admin)" if current_user.admin? %> Profile[<%=current_user.username %>]
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "View your profile" , user_path(current_user), class: "dropdown-item" %>
                  <%= link_to "Edit your profile" , edit_user_path(current_user), class: "dropdown-item" %>
                    <%= button_to "Delete your profile" , user_path(current_user), class: "dropdown-item text-danger" ,
                      method: :delete, data: {turbo_confirm: "Are you sure?" } %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to 'Log out' , logout_path, class: "nav-link" , style:"color: white", method: :delete %>
            </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Log in' , login_path, class: "nav-link" , style:"color: white"%>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign up' , signup_path, class: "nav-link" , style:"color: white"%>
              </li>
              <% end %>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" style="color: green">Search</button>
        </form>
      </div>
  </div>
</nav>